@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi There !</h1>
    <p>Lets gete started. You can add student details and later edit them. Have fun :)</p>
</div>
